<div class="space-y-6 border-t border-gray-200 pt-6">
  <h3 class="text-lg font-medium text-gray-900">2. Programmes</h3>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th class="py-3 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Programmes</th>
            <th class="px-3 py-3 text-left text-sm font-semibold text-gray-900">Theme</th>
            <th class="px-3 py-3 text-left text-sm font-semibold text-gray-900 w-24">Attendance</th>
            <th class="px-3 py-3 text-left text-sm font-semibold text-gray-900 w-24">First Timers</th>
            <th class="px-3 py-3 text-left text-sm font-semibold text-gray-900 w-24">No. of Facilitators</th>
            <th class="px-3 py-3 text-left text-sm font-semibold text-gray-900 w-32">Cost</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% (report.programmes || []).each do |prog| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900">
                <%= prog['type'] %>
                <input type="hidden" name="report[programmes][][type]" value="<%= prog['type'] %>">
              </td>
              <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                <input type="text" name="report[programmes][][theme]" value="<%= prog['theme'] %>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
              </td>
              <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                <input type="number" name="report[programmes][][attendance]" value="<%= prog['attendance'] %>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
              </td>
              <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                <input type="number" name="report[programmes][][first_timers]" value="<%= prog['first_timers'] %>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
              </td>
              <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                <input type="number" name="report[programmes][][facilitators]" value="<%= prog['facilitators'] %>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
              </td>
              <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                <input type="number" name="report[programmes][][cost]" value="<%= prog['cost'] %>" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
